---
layout: default
title: "Seth Gholson"
---
	{% for post in paginator.posts %}	
  <article>
		  	<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          	<i>{{ post.summary }}</i>
  			<p class="author">
        <span class="date">{{ post.date | date: "%m/%d/%y" }} </span>
        <a class="post-meta-google-authorship" href="http://plus.google.com/109264271765294335560?rel=author">Seth Gholson</a>
        <span class=""> by <a href="/about.html?rel=me">Seth Gholson</a> {{ post.author }}</span>
    		
  			</p>
  			<div class="content">
    			{{ post.content }}
  			</div> 
        <div class="comment_link">
          <i class="icon-comment"></i> <a href="http://sethgholson.com/{{ post.url }}/#disqus_thread" data-disqus-identifier>Comments</a>
        </div>
  </article>
	{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/{{ if if paginator.page == 2 'index.html' else paginator.previous_page }}" class="previous">PREVIOUS</a>
  {% else %}
    <!-- <span class="previous">PREVIOUS</span> -->
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/{{ paginator.next_page }}" class="next">NEXT</a>
  {% else %}
    <!-- <span class="next">NEXT</span> -->
  {% endif %}
</div>