 <div class="span4 columns well">
  <h2>About Me</h2>
  <p>
	<img class="gravatar" src="http://www.gravatar.com/avatar/d704ea2a2f1bb79d9719b451505e7b3d" />My name is Seth Gholson. I am a software developer from Austin, TX. I hope that something I've written here may save you some time, because most of my posts are probably problems I've sunk an embarrassing amount of time trying to solve. Thanks for reading.
  </p>
<div class="spacer">
  <p><a href="https://twitter.com/sethgho" class="twitter-follow-button btn btn-mini" data-show-count="false">Follow @sethgho</a> <a href="https://twitter.com/share" class="twitter-share-button" data-via="sethgho">Tweet</a></p>		  				  
</div>
</div>