<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  </a>
	  <a class="brand .thing" href="http://sethgho.github.com">Seth Gholson</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="active">
			<a href="http://sethgho.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/sethgho" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://stackoverflow.com/users/564683/seth" title="Go to Stack Overflow profile" target="_blank">Stack Overflow</a>
		  </li>		
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/sethgho" title="Go to twitter.com/sethgho" target="_blank">Twitter</a>  
		  </li>				  			  
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.linkedin.com/in/sethgho" title="Go to LinkedIn" target="_blank">LinkedIn</a>
		  </li>	
		  <li class="divider-vertical"></li>		  
		  <li class="">
			<a href="http://careers.stackoverflow.com/sethgho" title="Go to Stack Overflow Careers" target="_blank">Résumé</a>
		  </li>
		  <li class="divider-vertical"></li>		 
		<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class=""><a href="http://itunes.apple.com/us/app/menu-line-george/id440761181?mt=8" title="Go to Menu Line George on iTunes" target="_blank">Menu Line George</a></li>		
						</ul>
					  </li>
		</ul>
	  </div>
	</div>
  </div>
</div>