<nav class="navbar">  
<div class="header">
    <div class="gravatar"><a href="/"><img class="gravatar" src="http://www.gravatar.com/avatar/d704ea2a2f1bb79d9719b451505e7b3d.png?s=80" /></a></div>
    <!-- <a class="brand" href="/">Seth<br/>Gholson</a> -->
    <!-- <a class="brand" href="/">SETH<br/><span>GHOLSON</span></a> -->
</div>
	<ul role="navigation">	
	  <li>
	  	<a href="/" alt="Blog">Blog</a>
	  </li>
	  <li class="active">
		<a href="/about.html">About</a>
	  </li>	  
	  <li class="">
		<a href="/projects.html" title="Go to Stack Overflow profile">Projects</a>
	  </li>
	  <li class="">
		<a href="http://careers.stackoverflow.com/sethgho" target="_blank">Resume</a>
	  </li>	  
	</ul>
	<div class="social">		
		<a href="http://www.github.com/sethgho" target="_blank"><i class="icon-github"></i></a>
		<a href="http://www.twitter.com/sethgho" target="_blank"><i class="icon-twitter-sign"></i></a>
		<a href="http://www.facebook.com/seth.gholson" target="_blank"><i class="icon-facebook-sign"></i></a>
	</div>
</div>
</nav>
<nav class="navbar-small">
	<div class="navicons">
		<img class="gravatar" src="http://www.gravatar.com/avatar/d704ea2a2f1bb79d9719b451505e7b3d.png?s=28" />
		<a href="/">HOME</a> &nbsp
		<a href="/projects.html">PROJECTS</a>  &nbsp
		<a href="/about.html">ABOUT</a>
	</div>
</nav>
