.gravatar {
 	float: left;	
	margin: 0 10px 15px 0px;
}
.spacer {
	clear: both;
}

#disqus_thread {
	margin: 20px 0 0 0;
}

.twitter-share-button {
	vertical-align:top;
}

.content img {
	margin: 0px 10px 10px 10px;
	float: left;
}

.content .img-right {
	margin: 15px 0px 15px 15px;
	float: right;
}

.content .img-left {
	margin: 15px 15px 15px 0px;
	float: left;
}

#fbframe {
	height: 25px;
	border:none; 
	overflow:hidden; 
	width:450px; 
	height:63px;
}

.social_network {
    position : relative;
    list-style-type : none;
	display: inline;
}
.social_network li {
    float : left;
    padding : 6px;
    margin : 2px;
}
