/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,li,fieldset,ol,ul,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}ul,ol{list-style-type: none}
pre ul,ol {
	list-style-type: decimal;	
}
pre {
	font-family: monospace;
}
/* Base */
body {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 400;
	line-height: 140%;
	font-size: 1.0em;
}

a:hover {
	color: #222;
	text-decoration: underline;
}
a {
	color: #408892;
	text-decoration: none;
	font-weight: 500;
}

h1 {
	font-size: 1.6em;
}

small {
	font-size: .8em;
}

.clear {
	clear: both;
}

/* Brand & Navigation */
.brand {
	font-size: 1.9em;
	color: #fff;
	font-weight: 100;
	border-bottom: 1px solid #fff;
	margin: 4px;
}
.brand span {
	font-weight: 400;
}

.brand:hover {
	text-decoration: none;
	color: #eee;
}

.navbar-small {
	background-color: #999999;
	background-image: url('/assets/img/tweed_@2x.png');
	font-size: 1.4em;
	height: 40px;
	display: none;
	padding-top: 2px;
	position: relative;
}

.navbar-small a {
	color: #fff;	
	font-weight: 200;
	text-shadow: 2px 2px #222;
}

.navbar-small a:hover {
	text-decoration: none;	
	text-shadow: none;
	color: #fff;
}

.navbar-small .gravatar {
	float: left;
}
.navicons {
	text-align: center;
	font-size: 1.0em;
	vertical-align: middle;
	clear: both;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 85%;
    height: 50%;
    margin: auto;
}

.navbar {
	background-color: #999999;
	background-image: url('/assets/img/tweed_@2x.png');
	float: left;
	width: 220px;
	padding: 6px 0 0 0;
	border-right: 3px solid #CCC;
	height: 100%;
	position: fixed;
}

.navbar ul {
	list-style-type: none;		
	margin: 30px 16px 16px 16px;
}

.navbar ul li {
	margin: 8px;
}

p  {
	margin: 5px 0 5px 0;
}

.navbar ul a {
	font-size: 1.6em;
	color: #fff;
	font-weight: 200;	
	text-decoration: none;
	text-shadow: 2px 2px #000;
}

.navbar ul a:hover{
	color:#eaeaea;
	text-shadow: none;
}

.container {
	margin: 0px 20px 40px 260px;
}

article {
	padding: 10px 0 30px 0;
	margin-bottom: 60px;
	border-bottom: 1px dotted #777;
}

.social {
	position: absolute;
	width: 100%;
	bottom: 5px;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 20px;
}

.social a {
	color: #222;
}
.social a:hover {
	text-decoration: none;	
	color: #999;
}


@media (max-width:800px){
	.navbar-small {
		display: block;
	}

	.navbar {
		display: none;
	}
	.container {
		margin: 0px 20px 40px 20px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}