<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Seth Gholson, sethgho@gmail.com">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Facebook -->
    <meta property="og:title" content="Home Page" />
    <meta property="og:site_name" content="Seth Gholson" />
    <meta property="og:type" content="blog" />
    <meta proprety="og:image" content="https://graph.facebook.com/sethgholson/picture" />
    <meta property="fb:admins" content="500883377"/>
    <meta property="fb:app_id" content="376565032383500"/>
    <meta name="description" content="The personal blog of Austin, TX based .NET and mobile developer Seth Gholson" />
    <meta property="og:description" content="The personal blog of Austin, TX based .NET and mobile developer Seth Gholson" />
    <meta itemprop="description" content="The personal blog of Austin, TX based .NET and mobile developer Seth Gholson" />
    <meta name="application-name" content="Seth Gholson"/>
    
    <!-- Windows 8/Phone Stuff (rofl) -->
    <meta name="msapplication-TileColor" content="#000000"/>
    <meta name="msapplication-square70x70logo" content="tiny.png"/>
    <meta name="msapplication-square150x150logo" content="square.png"/>
    <meta name="msapplication-wide310x150logo" content="wide.png"/>
    <meta name="msapplication-square310x310logo" content="large.png"/>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://sethgholson.com/feed" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    
	  <link rel="shortcut icon" href="http://www.gravatar.com/avatar/d704ea2a2f1bb79d9719b451505e7b3d?s=200">
    <link rel="apple-touch-icon" href="http://www.gravatar.com/avatar/d704ea2a2f1bb79d9719b451505e7b3d?s=200">

    <link rel="stylesheet" href="css/main.css"> 
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
    {% include scripts.html %}
  </body>
</html>