---
layout: default
---
<article class="content">
	{% include post_header.html %}
    {{ content }}
</article>
<div id="disqus_thread"></div>		
<!-- 



<div>
		<p class="pull-right">{% if page.previous.url %} 
			<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	
			<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p>  
	</div> -->